body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #242424;
}

.content {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  text-align: center;
  padding: 75px 5px 85px 5px;
  box-sizing: border-box;
}

.text-danger {
  color: #d80e29 !important;
}
.text-success {
  color: #198754 !important;
}

#upload-box-container {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 20px;
  min-height: 55px;
  box-shadow: 0 0 50px 0 #041e4d1f;
  padding: 35px 0;
  max-width: 650px;
  height: fit-content;
  width: 100%;
  background: white;

  .upload-box-inner {
    margin: 0 35px 40px;
    padding: 7% 7% 4%;
    border: 1.5px #e6e6e6 dashed;
    min-height: 55px;
    background: transparent;
    border-radius: 18px;

    .drag-n-drop-hint {
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
      color: #242424;
      text-align: center;
    }

    .start-upload-btn {
      background-color: #1389fe;
      border: 2px solid #1389fe;
      margin-bottom: 5px;
      box-shadow: none;
      color: white;
      &:hover {
        background-color: #0066cc;
        border-color: #0066cc;
      }
    }
  }

  .upload-stats-text {
    position: relative;
    font-size: 16px;
    padding: 0 20px;
    color: #242424;
  }

  .upload-files-queue {
    width: 100%;
    min-width: 300px;
    padding: 0 20px;
    box-sizing: border-box;
    background: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin: 20px auto 10px;
    position: relative;
    z-index: 1;

    .upload-file-queue-item {
      background-color: white;
      color: #242424;
      text-align: left;
      border-radius: 8px;
      position: relative;
      padding: 5px 0 10px;
      margin-top: 0;

      .file-info {
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
        width: calc(100% - 30px);

        .filename {
          display: inline-block;
          text-align: left;
          color: #242424;
          line-height: 16px;
          font-size: 12px;
        }
        .error-notice {
          display: inline-block;
          text-align: left;
          padding-right: 15px;
          padding-left: 15px;
        }
        .file-extra {
          display: inline-block;
          min-height: 16px;
          text-align: center;
          line-height: 16px;
          margin: 0 5px 0 0;
          color: #1489f9;
          font-weight: normal !important;
        }
        .file-size {
          text-align: right;
          margin-left: 10px;
          font-weight: normal;
        }
      }

      .share-link-wrapper {
        background: #f2f5f8;
        border-radius: 8px;
        height: 46px;
        display: flex;
        padding: 0 5px 0 20px;
        margin: 5px auto 5px;
        gap: 5px;
        align-items: center;
        max-width: 100%;
        position: relative;
        .share-link {
          color: #1389fe !important;
          text-decoration: none;
          display: inline-block;
          line-height: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .share-link-copy {
          margin-left: auto;
          .share-link-copy-btn {
            display: inline-flex;
            height: 36px;
            border-radius: 8px;
            align-items: center;
            transition: background-color 0.5s ease;
            color: #1389fe;
            background: #e1edfd;
            min-width: fit-content;
            overflow: hidden;
            margin-left: auto;
            padding: 0 25px 0 15px;
            border: 2px solid #1389fe;
            box-sizing: border-box;
            cursor: pointer;
            &:not(.copied-success):hover {
              background-color: #1389fe;
              color: #fff;
            }
            &.copied-success {
              color: #198754;
              background-color: #688f7d;
              border: 2px solid #198754;
            }
          }
        }
      }
    }
  }

  .upload-status-icon {
    position: absolute;
    float: right;
    height: 15px;
    line-height: 15px;
    width: 10px;
    display: flex;
    align-items: center;
    right: 5px;
    top: 15px;
    z-index: 3;

    &.close {
      cursor: pointer;
      :hover {
        color: #111;
      }
    }
  }

  .progress {
    height: 6px;
    border: none;
    background-color: #e5e5e5;
    border-radius: 5px;
    width: calc(100% - 30px);
    margin-top: 5px;
    .progress-bar {
      height: 6px;
      border: none;
      border-radius: 5px;
      background-color: #1489f9;
      width: 0;
    }
  }
}

.upload-btn {
  line-height: 30px;
  position: relative;
  text-align: center;
  display: inline-flex;
  box-sizing: border-box;
  max-width: 414px;
  width: 100%;
  height: 70px;
  font-size: 24px;
  border-radius: 16px;
  margin: 0 auto 20px auto;
  overflow: visible;
  z-index: auto;
  align-items: center;
  justify-content: center;
  box-shadow: unset;
  transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  letter-spacing: 0.1px;
  white-space: nowrap;
  cursor: pointer;
}

#file-upload {
  display: none;
  ~ label {
    background: #f23047;
    color: white;
    border: 2px solid #f23047;

    &:hover {
      background: #d80e29;
      border-color: #d80e29;
    }
  }
}

#add-more-files {
  display: none;
  ~ label {
    line-height: 30px;
    position: relative;
    text-align: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    font-size: 18px;
    color: #7c7c7c;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    &:hover {
      color: #1389fe;
    }
  }
}